<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="CarRentalService.CarRentalService" behaviorConfiguration="ServiceBehaviour">
        <endpoint name="SOAPEndPoint" address="soap" binding="basicHttpBinding"
       contract="CarRentalService.ICarRentalService">
        </endpoint>
        <endpoint name="RESTEndPoint" address="rest" binding="webHttpBinding"
       contract="CarRentalService.ICarRentalServiceRest" behaviorConfiguration="RESTBehaviour">
        </endpoint>
        <endpoint address="CarRentalService" binding="netTcpBinding"
       contract="CarRentalService.ICarRentalService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
            <add baseAddress="net.tcp://localhost:8090/" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RESTBehaviour">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
